META_WABA_ID=
META_PHONE_NUMBER_ID=
META_ACCESS_TOKEN=
META_APP_SECRET=
META_VERIFY_TOKEN=

ODOO_URL=https://digitalseg1.odoo.com
ODOO_DB=digitalseg1
ODOO_USER=contacto@digitalseg.cl
ODOO_APIKEY=
ODOO_SOURCE=13

DIGITALSEG_ALLOWED_ORIGIN=https://digitalseg.cl
